---
// microcms.ts から関数をインポート
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";
import "../styles/blog.css";

// 投稿データを取得
const { contents: blogs } = await getBlogs();
---

<!-- 投稿一覧を表示 -->
<Layout title="トップページ">
  <div class="content" data-pagefind-ignore="all">
    <main>
      <h1>最新の更新</h1>
      <ul>
        {
          blogs.map((blog) => (
            <div class="blog-list">
              <li>
                <a href={`/blogs/${blog.id}`}>
                  <img src={blog.eyecatch.url} alt={blog.title} width="300" />
                  <h2>{blog.title}</h2>
                  <p>{blog.category ? "#" + blog.category.name : ""}</p>{" "}
                  <p>{new Date(blog.publishedAt).toLocaleDateString()}</p>
                </a>
              </li>
            </div>
          ))
        }
      </ul>
    </main>
  </div>
</Layout>
